@import "tailwindcss";


ul {
    list-style: none;
  }
  
  li {
    position: relative;
  }
  
  li::before {
    content: '';
    position: absolute;
    top: 0.75rem; /* match line-height */
    left: -1rem;
    width: 1rem;
    height: 2px;
    background: #ccc;
  }